body {
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.header {
    height: 200px;
}

.top-header {
    display: flex;
}

.about {
    display: flex;
    width: 50%;
    height: 50px;
    align-items: center;
}

.about1 {
    background-color: black;
    width: 70px;
    height: 30px;
    margin: 1px;
}

.socails {
    background-color: white;
    display: flex;
    width: 50%;
    align-items: center;
    place-content: end;

}

.A-box {
    display: flex;
    width: 20%;
    height: 50px;
    align-items: center;
}

.A-box1 {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-right: none;
}

.A-box1:last-child {
    border-right: 1px solid black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.A-box1:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.button-selector {
    background-color: black;
    width: 70px;
    height: 25px;


}

.media {
    background-color: whitesmoke;
    display: flex;
    width: 150px;
    align-items: center;
}
.media-logo {
    background-color: black;
    width: 70px;
    height: 30px;
    margin: 0 4px;
}

.media-logo:last-child {
    margin-right: 0;
}

.nav {
    display: flex;
    background-color: greenyellow;
    width: 100%;
    height: 120px;
    place-items: center;
}

.logo {
    background-color: green;
    width: 150px;
    height: 90px;
}

.menu {
    display: flex;
    background-color: aliceblue;
    width: 80%;
    height: 90px;
    place-content: center;
    align-items: center;
}

.menu-bar {
    background-color: green;
    width: 100px;
    height: 90px;
    margin: 2px;
}

.subscribe {
    background-color: pink;
    display: flex;
    width: 20%;
    height: 40px;
    align-items: center;
    place-content: end;
    margin-left: 20px;
}

.box1 {
    background-color: whitesmoke;
    width: 110px;
    height: 40px;
    margin: 2px;
    border-radius: 4px;
    margin-left: 0;

}

.search {
    display: flex;
}

.box {
    background-color: whitesmoke;
    width: 40px;
    height: 40px;
    margin: 0 4px;
}

.box:last-child {
    margin-right: 0;
}

.section {
    display: flex;
    background-color: darkcyan;
    height: 40px;
    width: 100%;
    margin: 3px 0;
    align-items: center;
    margin-bottom: 30px;
}

.news {
    display: flex;
    background-color: white;
    width: 100%;
    height: 30px;
    margin: 0 10px;
    border-radius: 3px;
}

.trending{
    background-color: skyblue;
    width: 10%;
    margin-right: 4px;
    border-radius: 4px;
}

.information {
    display: flex;
    width: 100%;
    place-content: end;
    align-items: center;
    background-color: gray;
}

.slider {
    place-content: start;
    margin-right: 270px;
}

.arrow {
    background-color: gray;
    display: flex;
    width: 5%;
    height: 30px;
    margin: 0 10px;
}

.arrow1 {
    background-color: blue;
    width: 50%;
    margin: 4px;
}

.row1 {
    background-color: skyblue;
    display: flex;
    height: 450px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.section2 {
    padding-bottom: 0 !important;
    padding-top: 2rem !important;
    width: 100%;
    align-items: center;
}

.container1 {
    display: flex;
    height: 600px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 1200px;
    
}

.row {
    /* background-color: wheat; */
    height: 500px;
    display: flex;
    border-radius: 10px;
    margin-bottom: 50px;
}

.left {
    background-color: rgba(75, 57, 74, 0.459);
    width: 50%;
    border-radius: 10px;
    margin-right: 15px;
}

.star {
    background-color: black;
    height: 20px;
    width: 10%;
    margin-left: auto;
}

.lifestyle {
    background-color: rgb(143, 143, 250);
    height: 200px;
    margin-top: 250px;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
}

.right {
    /* background-color: palevioletred; */
    width: 50%;
    border-radius: 10px;
    margin-left: 15px;
}

.rightup {
    background-color:pink;
    height: 110px;
    border-radius: 10px;
    padding-top: 100px;
}
.inside {
    background-color: gray;
    height: 100px;
    margin: 40px;
    margin-top: auto;
}

.rightdown {
    display: flex;
    margin-top: 50px;
    /* background-color: green; */
    height: 240px;
}

.one {
    background-color: aquamarine;
    height: auto;
    margin-right: 20px;
    width: 50%;
    border-radius: 10px;
}

.one1 {
    background-color: gray;
    height: 100px;
    margin: 40px;
    margin-top: 100px;
}
.two {
    background-color: aquamarine;
    height: auto;
    margin-left: 20px;
    width: 50%;
    border-radius: 10px;
}

.two2 {
    background-color: gray;
    height: 100px;
    margin: 40px;
    margin-top: 100px;
}

.rows {
    display: flex;
    width: auto;
}

.column1 {
    height: 100%;
    width: 75%;
}

.ctop {
    height: 100px;
}

.clum {
    background-color: aliceblue;
    height: 50px;
}
.clumr {
    background-color: rgb(46, 5, 143);
    height: 30px;
}

.crow1 {
    display: flex;

}

.clum1 {
    height: 92.5%;
    margin-right: 20px;
    width: 50%;
    border-radius: 10px;
}

.clum2 {
    height: 92.5%;
    margin-left: 20px;
    width: 50%;
    border-radius: 10px;
}

.r1 {
    background-color: rgba(18, 98, 86, 0.38);
    height: 260px;
    border-radius: 10px;
}


.r2 {
    background-color: rgb(172, 181, 178);
    height: 165px;
    margin: 20px 0;
}

.r2:last-child {
    margin-bottom: 0;
}

.column2 {
    width: 25%;
    margin-left: 40px;
}

.rc {
    display: flex;
    height: 130px;
}

.clu1 {
    background-color: rgb(185, 108, 108);
    width: 33.33%;
    margin-right: 10px;
}

.clu1:last-child {
    margin-right: 0;
}

.colu {
    background-color: aquamarine;
    margin: 15px 0;
    height: 65px;
    border-radius: 10px;
}

.colu:first-child {
    margin: 30px 0;
}

.colu1 {
    background-color:aquamarine;
    height: 30px;
    margin: 10px 0;
    border-radius: 10px;
}
.lums {
    height: 30px;
    margin-top: 20px;
}
.colums {
    display: flex;
    height: 70px;
    margin-bottom: 20px;
}

.colums:last-child {
    margin-bottom: 0;
}

.laft {
    background-color: gray;
    width: 30%;
    margin-right: 10px;
    border-radius: 5px;
}

.raght {
    width: 70%;
}

.advart {
    background-color: aquamarine;
    height: 300px;
    border-radius: 10px;
}

.sponsors {
    height: 400px;
}

.oner {
    height: 50px;
    width: 50%;
}

.twor {
    display: flex;
}

.best {
    background-color: aquamarine;
    height: 300px;
    width: 25%;
    margin-right: 30px;
    border-radius: 10px;
}

.best:last-child {
    margin-right: 0;
}


