body {
    margin: 0;
}

.container {
    background-color: white;
    margin: 0 auto;
    width: 1100px;
}

.header {
    background-color: green;
    height: 140px;
}

.top-header {
    display: flex;
}

.about {
    background-color: whitesmoke;
    display: flex;
    width: 50%;
    height: 50px;
    align-items: center;
}

.about1 {
    background-color: black;
    width: 70px;
    height: 30px;
    margin: 1px;
}

.socails {
    background-color: white;
    display: flex;
    width: 50%;
    align-items: center;
    place-content: end;

}

.A-box {
    display: flex;
    width: 20%;
    height: 50px;
    align-items: center;
}

.A-box1 {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-right: none;
}

.A-box1:last-child {
    border-right: 1px solid black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.A-box1:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.button-selector {
    background-color: black;
    width: 70px;
    height: 25px;


}

.media {
    background-color: whitesmoke;
    display: flex;
    width: 150px;
    align-items: center;
}
.media-logo {
    background-color: black;
    width: 70px;
    height: 30px;
    margin: 0 4px;
}

.media-logo:last-child {
    margin-right: 0;
}